* {
  margin: 0;
  padding: 0;  
  font-family: 'Open Sans', sans-serif;
}

/* NavigationBar.jsx */
ul > li {
  list-style-type: none;
}

.nav-links {
  cursor: pointer;
}
.active-link {
  color: blue; 
  font-weight: bold; 
}


/* Main.jsx */
.myPhoto {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.github-icon {
  margin-right: 5%;
  color: black;
  cursor: pointer;
}

.linkedin-icon {
  margin-right: 5%; 
  color: #305fb0;
  cursor: pointer;
}

.youtube-icon {
  color: red; 
  cursor: pointer;
}



.tech-stack-icons {
  width: 40px;
}

.certificates {
  width: 80px;
  height: 80px;
}
.express-icon {
  width: 70px;
}

.mongodb-icon {
  width: 50px;
}

/* About.jsx */ 
.aboutPhoto {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

/* Projects.jsx */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.project-images {
  width: 500px;
  height: 500px;
  object-fit: contain;
  object-position: top; 
}

.github-button {
  display: flex; 
  align-items: center;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
}


.demo-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #c8c7fd;
  border-radius: 10px;
  padding: 16px;
  border: none;
  height: 40px;   
  cursor: pointer; 
}

.link-style {
  text-decoration: none;
}

/* Contact.jsx */
.contact-links:visited {
  color: blue;
}
